/* @import './fonts/vazir-font.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .number-appearance-none::-webkit-inner-spin-button,
  .number-appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
    line-height: revert;
    font-family: revert;
    color: revert;
    background-color: revert;
  }

  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  .no-tailwindcss-base p {
    margin: revert;
    color: revert;
    background-color: revert;
  }
}

/* NextJS 13 Image hack for Safari 15 not displaying a gray border while loading */
@media not all and (min-resolution: 0.001dpcm) {
  img[loading='lazy'] {
    clip-path: inset(0.5px);
  }
}

/* Disable default tw input shadow */
input {
  --tw-ring-shadow: 0 0 #000 !important;
}

/* Toastify */
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #091069;
  --toastify-color-info: #8479e1;
  --toastify-color-success: #06d6a0;
  --toastify-color-warning: #ffc233;
  --toastify-color-error: #ef476f;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-light);
  --toastify-icon-color-success: var(--toastify-color-light);
  --toastify-icon-color-warning: var(--toastify-color-light);
  --toastify-icon-color-error: var(--toastify-color-light);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: var(--toastify-color-light);
  --toastify-text-color-dark: var(--toastify-color-dark);

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: var(--toastify-color-info);
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided */
  /* toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #05a87d,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5e4fd8,
    #eb184a
  );
  /* Used when no type is provided */
  --toastify-color-progress-dark: #5e4fd8;
  --toastify-color-progress-info: #a29ae8;
  --toastify-color-progress-success: #17f8be;
  --toastify-color-progress-warning: #ffe8b3;
  --toastify-color-progress-error: #ff7595;
}

.uppy-Dashboard-inner {
  border-radius: 16px !important;
  overflow: hidden;
}

.uppy-Dashboard-AddFiles {
  border-radius: 12px !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.Toastify__toast {
  @apply rounded-xl;
}

/* NProgress */
#nprogress .bar {
  background: #5e4fd8;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  box-shadow: 0 0 10px #5e4fd8, 0 0 5px #5e4fd8;
}

/* placeholder text style */
.date-input[type='date']::-webkit-datetime-edit-text,
.date-input[type='date']::-webkit-datetime-edit-month-field,
.date-input[type='date']::-webkit-datetime-edit-day-field,
.date-input[type='date']::-webkit-datetime-edit-year-field {
  @apply text-zinc-400;
}

/* regular text style */
input[type='date'].date-input--has-value::-webkit-datetime-edit-text,
input[type='date'].date-input--has-value::-webkit-datetime-edit-month-field,
input[type='date'].date-input--has-value::-webkit-datetime-edit-day-field,
input[type='date'].date-input--has-value::-webkit-datetime-edit-year-field {
  @apply text-dark;
}

.react-datepicker {
  @apply shadow-2xl border-0;
}

.react-datepicker__day--selected {
  @apply bg-primary;
}

.react-datepicker__month-container {
  @apply text-dark;
}

.react-datepicker__header,
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  @apply bg-primary leading-5;
}

.react-datepicker__day:hover {
  @apply bg-primary-light;
}

.react-datepicker-time__header,
.react-datepicker__current-month {
  @apply text-light;
}

.react-datepicker__day-name {
  @apply text-light;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  @apply rounded-lg pl-2 py-1 text-sm border-0 focus:ring-0 cursor-pointer;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-primary;
}
