@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vazir/Vazir-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./vazir/Vazir-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./vazir/Vazir-Bold.woff2') format('woff2');
}
